<header class="sticky">
  <a routerLink="/"
    routerLinkActive="router-link-active"
    class="logo">
    <span>
      Angular Basic
    </span>
  </a>
  <a routerLink="calculator"
    routerLinkActive="router-link-active"
    class="button">
    Calculator
  </a>
  <a routerLink="car"
    routerLinkActive="router-link-active"
    class="button">
    Car
  </a>
  <a routerLink="contacts"
    routerLinkActive="router-link-active"
    class="button">
    <span>
      Contacs
    </span>
  </a>
  <a routerLink="about"
    routerLinkActive="router-link-active"
    class="button">
    <!--<img width="32" style="vertical-align: -0.5em" src="./assets/LogoCTM.png">-->
    <span>
      About Us
    </span>
  </a>
  <!--
    <a routerLink="heroes"
      routerLinkActive="router-link-active"
      class="button">
      <span>
        Heroes
      </span>
    </a>
  -->
</header>
